.App {
  text-align: center;
  margin: auto;
  height: 100vh;
  width: 100%;
}

.header{
  height: 20px;
  margin: auto;
  margin-top: 10px;
  width: 10%;
}
.content{
  height: 140px;
  background-color: aqua;
  margin: auto;
  display: flex;
  margin-top: 10px;
  width: 20%;
}
